### Q1
List the basic data types in python and give one example each.

In [13]:
Integer - 50
Float - 2.56
Boolean - True/False
String - "Python might not be bad after all"

NameError: name 'Integer' is not defined

### Q2
Change the variable x = 4539.85 to :

(i) a string and assign it to a new variable y,

(ii) an integer and assign it to a new variable z

Print out the type of y and z.

In [12]:
x = 4539.84
y = str(x)
y
type(y)

x = 4539.84
z = int(x)
z
type(z)

int

### Q3

What data type would you use to store

a. The price of car?
Ans: Integer

b. The age of a person
Ans: Integer

c. car plate number: plateNumber = "AV01-AFP"?
Ans: String

d. The price of fuel
Ans: Float

e. The number of students in the class
Ans: Integer

f. The weight of a person
Ans: Float

g. Check whether two figures are equal
Ans: Boolean

i. The name of a  school
Ans: String

j. The average result of the overall score of a student
Ans: Float

k. The total number of vote cast
Ans: Integer

### Q4
**Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team**

Split the statement above into **two statement_1** and **statement_2** such that statement_1 will be 'Thomas Partey is arguably the best player in the Black Stars' and statement_2 will be 'He is a great addition to the team'

Statement:

- **What is the length of statment 1?**
-**What is the length of statment 2?**
-**Is the length of statement 1 greater than statement 2**

In [18]:
statement_1 = 'Thomas Partey is arguably the best player in the Black Stars'
statement_2 = 'He is a great addition to the team'

len(statement_1) = 60
len(statement_2) = 34
The length of statement_1 is greater than the length of statement_2

34

### Q5
What values does python use to represent **True** and **False** respectively?

Answer
True = 1
False = 0

### Q6
Write a code to evaluate if the following statments are True or False.

1. 78 is greater than 46 and less than 30 which is an odd number.

2. 8-2 is an even number or 8 is a is an odd number.

3. The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

In [54]:
A = 78
B = 46
C = 30
A > B < C and C%2 != 0

False

In [55]:
D = 8
E = 2
(D-E)%2 == 0 or D%E != 0

True

In [56]:
bool(len("boostrap") == 7) and bool(len("sample") == 6)

False

### Q7
Given the following python code,

`word='Hello, How are you?'`

Write Python code to return the following

- How
- How are you
- are
- ?
- Hello, How are you

In [60]:
word = "Hello, How are you?"
print(word[7:10])

How

In [63]:
print(word[7:-1])

How are you

In [65]:
print(word[11:14])

are

In [66]:
print(word[-1])

?

In [67]:
print(word[ : -1])

Hello, How are you

### Q8
Given the following python code,

`sentence = "I am very excited"`

Write Python code to return 
- Convert sentence to upper case
- Convert sentence to lower case
- Convert sentence to title case
- Convert sentence to list of strings

In [23]:
sentence = "I am very excited"
sentence.upper()
sentence.lower()
sentence.title()
sentence.split()

['I', 'am', 'very', 'excited']

### Q9
`word = 'OneThirtyEight'`

Using Python code extract the following from the variable word:
- One
- Thirty
- Eight
- OneThirty
- ThirtyEight
- ONETHIRTYEIGHT

In [59]:
word = "OneThirtyEight"
print(word[0:3])
print(word[3:9])
print(word[9:14])
print(word[0:9])
print(word[3:14])
word.upper()

One
Thirty
Eight
OneThirty
ThirtyEight

'ONETHIRTYEIGHT'

### Q10
Turn Ault'Kelly into a string and assign it to a variable  called name.

In [ ]:
name = "Ault'Kelly"